@model ConsoleAppProject.App01.DistanceConverter
@{
    ViewData["Title"] = "TB DistanceConverter";
}
<header class="jumbotron">
    <h1>Distance Converter</h1>
    <h2>By Tyronne Bradburn</h2>
    <p>
        This app will convert the selected distance
        to another selected distance,
    </p>
</header>


