@model double
@using ConsoleAppProject.App02
@{
    ViewData["Title"] = "Health Message";
}

@{ 
    BmiCalculator bmi = new BmiCalculator();
    bmi.Index = Model;
}

<header class="jumbotron">
    <h1>Health Message</h1>
    <h2>by Tyronne Bradburn</h2>
</header>
<section>
    <h2>Your BMI Index</h2>
    <p class="text-lead">
        @bmi.GetHealthMessage()
    </p>
    <p class="text-lead">
        @bmi.GetBameMessage()
    </p>
</section>


