@model ConsoleAppProject.App03.StudentGrades
@{
    ViewData["Title"] = "Student Grades";
}

<header class="jumbotron">
    <h1>Student Grades</h1>
    <h2>By Tyronne Bradburn</h2>
    <p>
        This App will allow you add marks and grades to students
        and the App will then calculate the mean mark for each 
        student.
    </p>
</header>


